/OM-PrimaryTypeClass-ctAdministrator-init.tex
/OM-PrimaryTypeClass-ctAlert-init.tex
/OM-PrimaryTypeClass-ctAlert-isSentToCoordinator.tex
/OM-PrimaryTypeClass-ctAuthenticated-init.tex
/OM-PrimaryTypeClass-ctCoordinator-init.tex
/OM-PrimaryTypeClass-ctCrisis-handlingDelayPassed.tex
/OM-PrimaryTypeClass-ctCrisis-init.tex
/OM-PrimaryTypeClass-ctCrisis-isAllocatedIfPossible.tex
/OM-PrimaryTypeClass-ctCrisis-isSentToCoordinator.tex
/OM-PrimaryTypeClass-ctCrisis-isSentToPolice.tex
/OM-PrimaryTypeClass-ctCrisis-maxHandlingDelayPassed.tex
/OM-PrimaryTypeClass-ctHuman-init.tex
/OM-PrimaryTypeClass-ctHuman-isAcknowledged.tex
/OM-PrimaryTypeClass-ctPolice-init.tex
/OM-PrimaryTypeClass-ctState-init.tex
