/primaryTypesAggregations-comments-table.tex
/primaryTypesAssociations-comments-table.tex
/primaryTypesClasses-comments-table.tex
/primaryTypesCompositions-comments-table.tex
/primaryTypesDatatypes-comments-table.tex
/secondaryTypesAggregations-comments-table.tex
/secondaryTypesAssociations-comments-table.tex
/secondaryTypesClasses-comments-table.tex
/secondaryTypesCompositions-comments-table.tex
/secondaryTypesDatatypes-comments-table.tex
