/OM-PrimaryTypeDatatype-dtAlertID-is.tex
/OM-PrimaryTypeDatatype-dtComment-is.tex
/OM-PrimaryTypeDatatype-dtCoordinatorID-is.tex
/OM-PrimaryTypeDatatype-dtCrisisID-is.tex
/OM-PrimaryTypeDatatype-dtGPSLocation-is.tex
/OM-PrimaryTypeDatatype-dtGPSLocation-isNearTo.tex
/OM-PrimaryTypeDatatype-dtLatitude-is.tex
/OM-PrimaryTypeDatatype-dtLogin-is.tex
/OM-PrimaryTypeDatatype-dtLongitude-is.tex
/OM-PrimaryTypeDatatype-dtPassword-is.tex
/OM-PrimaryTypeDatatype-dtPhoneNumber-is.tex
/OM-PrimaryTypeDatatype-dtPoliceID-is.tex
/OM-PrimaryTypeEnumeration-etAlertStatus-is.tex
/OM-PrimaryTypeEnumeration-etCrisisStatus-is.tex
/OM-PrimaryTypeEnumeration-etCrisisType-is.tex
/OM-PrimaryTypeEnumeration-etHumanKind-is.tex
